<!-- Sam Clark, Tribe, Sept 2012-->
<!DOCTYPE html>
<html>
<head>
<title>Tribe Shirts</title>

<!-- CSS -->
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL}}css/shirtshop.css"/>
<!-- JAVASCRIPT -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/easySlider1.7.js"></script> 
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.bxSlider.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/shopcontent.js"></script>
<!-- FONTS -->
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Brawler' rel='stylesheet' type='text/css'>

</head>
<body>
	<div class='contentwrapper'>
		{% block tribeheader %}
			<div class='tribeheader'>
				<img src='{{ STATIC_URL }}pictures/tribe_logo1.png' class='tribe_logo' alt='tribeeye'>
			</div>
		{% endblock %}
		 <div class='shopcontent'>
		{% block navbar %}
			<div class='navbar'>
				<ul class='navlinks'>
				<li><a href="/home">Home</a></li>
				<li><a href="http://weartribe.tumblr.com/">Blog</a></li>
				<li><a href="/about">About</a></li>
				</ul>
			</div>
		{% endblock %}
		{% block maincontent %} 
			<div> h1 </div> 
		{% endblock %}
		</div>
		{% block tribefooter %}
			<div class='tribefooter'>
				<img src='{{ STATIC_URL }}pictures/tribe_logo1.png' class='tribe_logo' alt='tribeeye'>
			<div>
		{% endblock %}
	</div>
</body>
