<!-- Sam Clark, Tribe, Sept 2012-->
<!DOCTYPE html>
<html>
<head>
<title>Tribe Shirts</title>

<!-- CSS -->
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL}}css/base.css"/>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL}}css/shirtshop.css"/>
<!-- JAVASCRIPT -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/shopcontent.js"></script>
<!-- FONTS -->
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Brawler' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Just+Another+Hand' rel='stylesheet' type='text/css'>
</head>

<!-- 				<img src='{{ STATIC_URL }}pictures/tribe_logo1.png' class='tribe_logo' alt='tribeeye'>
-->
<body>
		{% block tribeheader %}
			<div class='header'>
				<img src="{{STATIC_URL}}pictures/tribe_header.png" height='100' width='400'>
			</div>
		{% endblock %}
		{% block dock %}
			<div class='dock'>
				<div class="icons">
					 <a href="/home"> <img src='{{ STATIC_URL }}pictures/icons/short_shirt.png' alt='pat3'height='80' width='100'/></a>
					<li><a href="/home">Home</a></li>
					<li><a href="http://weartribe.tumblr.com/">Blog</a></li>
					<li><a href="/about">About</a></li>
					<li><a href="/patterns">Patterns</a></li>
					</ul> 
				</div>
			</div>
		{% endblock %}
		 <div class='shopcontent'>
		{% block maincontent %} 
		{% endblock %}
		</div>
		
</body>
