 <div class='shopcontent'>
			<div class='navbar'>
				<ul class='navlinks'>
					<li><a href="default.asp">Home</a></li>
					<li><a href="http://weartribe.tumblr.com/">Blog</a></li>
					<li><a href="/about">About</a></li>
				</ul>
			</div>
			<div class='slider_wrapper'>
				<div class="bx_slider"> 
					<ul class="slider0">
						<li> <img src='{{ STATIC_URL }}pictures/stars1.jpeg' alt='pat2'</li>
					</ul>
					<ul class="slider1">
						<li> <img src='{{ STATIC_URL }}pictures/stars2.jpeg' alt='pat2'</li>
					</ul>
					<ul class="slider2">
						<li> <img src='{{ STATIC_URL }}pictures/stars3.jpeg' alt='pat3'</li>
					</ul>
					</ul>

				</div>

				<div class="thumbs">
					  <a href=""><img src='{{ STATIC_URL }}pictures/stars3.jpeg' alt='pat3'height='40' width='40'/></a>
					  <a href=""><img src='{{ STATIC_URL }}pictures/stars1.jpeg' alt='pat3'height='40' width='40'/></a>
					  <a href=""><img src='{{ STATIC_URL }}pictures/stars2.jpeg' alt='pat3'height='40' width='40'/></a>
				</div>
			</div>
			<div class='shirt_description'>
				<h2> Pattern Name </h2>
				<p> This is where we will put a descritpion of the shirt <p>
			</div>
			<div class='pricetag'>
				<span class='price_text'><p> only <p></span>
				<h2> $29.99 </h2>
			</div>

			<div class='buyview'>

				<div class='test_shirt_form'>
					<form action='/shirtshop/shirts/views/get_shirt_info/' method='POST' class="shirt_form">
						{% csrf_token %}
						<input type='hidden' name='pattern' value="stars">
						<input type='hidden' name='price' value='30.0'>
					</form>
				</div>

			</div>
		</div>